.link {
	text-decoration: none;
	font-size: 20px;
	color: #F13131;
}



.popup {
/*	width: 100px;
	height: 200px;
	background-color: #ED9A18;*/
	display: none;
}




.visible {
	display: block;
}

.popupp {
	width: 420px;
	height: 600px;
}